@using PrediksiMonteCarlo.SD

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PrediksiMonteCarlo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PrediksiMonteCarlo.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet"href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

</head>
<body>
    <header>
        <nav id="navMenu" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PrediksiMonteCarlo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    @if (StaticDetails_Login.Roles == "Superadmin")
                    {

                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Merk" asp-action="Index">Merk</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Motor" asp-action="Index">Motor</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Penjualan" asp-action="Index">Penjualan</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Prediksi" asp-action="Index">Simulasi Monte Carlo</a>
                            </li>
                        </ul>

                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item" style="list-style:none">
                                <form method="post" class="form-inline">
                                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Login">Logout</a>
                                </form>
                            </li>
                        </ul>
                    }
                    else if (StaticDetails_Login.Roles == "Admin")
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Prediksi" asp-action="Index">Simulasi Monte Carlo</a>
                            </li>

                            <ul class="navbar-nav ml-auto">

                                <li class="nav-item" style="list-style:none">
                                    <form method="post" class="form-inline">
                                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Login">Logout</a>
                                    </form>
                                </li>

                            </ul>
                        </ul>
                    }

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - PrediksiMonteCarlo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

