@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center ">
        <img style="display: flex;" class="img-fluid" alt="Responsive image" src="~/images/bintanMotor.jpeg"/>
    </div>*@

<div style="overflow:hidden; height: 80vh; ">

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img style="height: 80vh;" class="d-block w-100" src="~/images/bintanMotor.jpeg">
            </div>
            <div class="carousel-item active">
                <img style="height: 80vh" class="d-block w-100" src="~/images/bintanMotor.jpeg">
            </div>
        </div>
    </div>
</div>

