@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript">function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };</script>

<div style="overflow:hidden; height: 80vh; ">

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img style="height: 80vh;" class="d-block w-100" src="~/images/bintanMotor.jpeg">
            </div>
            <div class="carousel-item active">
                <img style="height: 80vh" class="d-block w-100" src="~/images/bintanMotor.jpeg">
            </div>
        </div>
    </div>
</div>

